html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: Orbitron;
}

button {
    font-family: Orbitron;
    height: 60px;
    border-radius: 4px;
    border: none;
    font-size: 2rem;
    margin: 11px 4px;
    color: #5F6368;
    min-height: 36px;
    background-color: #f8f8f8;
    padding: 0 16px;
}

button:hover {
    color: #000000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #dddddd;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.operator {
    color: #337cac;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.screen {
    width: 100%;
    font-size: 5rem;
    height: 110px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.equal-sign {
    grid-area: 2 / 4 / 5;
    height: auto;
}